@model AprenderBrincando.Models.Email

@{
    ViewData["Title"] = "Create Page";
}

<div class="fundoformulario">
    <div class="container d-flex justify-content-center align-items-center " style="min-height: 100vh;">
        <div class="col-md-4">
            <div class="row text-center">
        <h4>Informe seu Email</h4>
            </div>
            <div class="row">
        <hr />
        </div>
            <div class="row">
            </div><span class="text-center text-danger" display-4>@TempData["MsgForgotPassword"]</span>
      
           
                <form asp-action="ForgotPassword" method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                <div class="row">
                    <div class="form-group">
                        <label asp-for="Para"></label>
                        <input asp-for="Para" class="form-control" />
                        <!--<span asp-validation-for="Para" class="text-danger"></span>-->
                    </div>
                </div>
                <div class="row">
                    <div class="form-group mt-3">
                    <input type="submit" value="Enviar" class="btn btn-primary" />
                    </div>
        </div>
                </form>
            
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
