@model AprenderBrincando.Models.Email

@{
    ViewData["Title"] = "Create Page";
}

<h4>Informe seu Email</h4>
<hr />
<span class="text-center text-danger" display-4>@TempData["MsgForgotPassword"]</span>
<div class="row">
    <div class="col-md-4">
        <form asp-action="ForgotPassword" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Para"></label>
                <input asp-for="Para" class="form-control" />
                <span asp-validation-for="Para" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-default">Enviar</button>
        </form>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
