@model AprenderBrincando.Models.Password

@{
    ViewData["Title"] = "Create Page";
}

<h4>Crie uma nova senha</h4>
<hr />
<span class="text-center text-danger" display-4>@TempData["MsgResetPassword"]</span>
<div class="row">
    <div class="col-md-4">
        <form asp-action="ResetPassword" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input asp-for="Token" type="hidden" value='@(Context.Request.Query["token"])' />
            <div class="form-group">
                <label asp-for="Senha"></label>
                <input asp-for="Senha" class="form-control" />
                <span asp-validation-for="Senha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmarSenha"></label>
                <input asp-for="ConfirmarSenha" class="form-control" />
                <span asp-validation-for="ConfirmarSenha" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-default">Enviar</button>
        </form>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
