@model AprenderBrincando.Models.Password

@{
    ViewData["Title"] = "Create Page";
}

<div class="fundoformulario">
    <div class="container d-flex justify-content-center align-items-center " style="min-height: 100vh;">
        <div class="col-md-4">
            <div class="row">
        <h4>Crie uma nova senha</h4>
            </div>
                <div class="row">
        <hr />
            </div>
                    <div class="row">
        <span class="text-center text-danger" display-4>@TempData["MsgResetPassword"]</span>
            </div>
            
                <form asp-action="ResetPassword" method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <input asp-for="Token" type="hidden" value='@(Context.Request.Query["token"])' />
                <div class="row">
                    <div class="form-group">
                        <label asp-for="Senha"></label>
                        <input asp-for="Senha" class="form-control" />
                        <!--<span asp-validation-for="Senha" class="text-danger"></span> -->
                    </div>
                </div>
                    <div class="row">
                    <div class="form-group">
                        <label asp-for="ConfirmarSenha"></label>
                        <input asp-for="ConfirmarSenha" class="form-control" />
                        <!--<span asp-validation-for="ConfirmarSenha" class="text-danger"></span>-->
                    </div>
                </div>
                <div class="row">
                    <div class="form-group mt-3">
                    <button type="submit" class="btn btn-primary">Enviar</button>
                    </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
