@{
    ViewData["Title"] = "EnsFundamental Page";
}

<div id="categoria-area">
    <div class="container conteudo mb-5">
        <div class="row">
            <div class="col-12 d-flex justify-content-center align-items-center" style="margin-top: 130px;">
                <h2 class=" display-1 luckiest mb-4" style="color: #002147;">EDUCAÇÃO fUNDAMENTAL</h2>
            </div>
            <div class="col-md-4 mb-5">
                <div class="card h-100, w-100">
                    <iframe width="100%" height="300" src="https://www.youtube.com/embed/lT0gNSNI8lc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    <div class="card-body">
                        <h5 class="card-title">Praticar leitura</h5>
                        <p class="card-text">Ajude seu filho a aprender a ler ou melhor sua leitura em casa, com textos curtos </p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card h-100, w-100">
                    <iframe width="100% " height="300 " src="https://www.youtube.com/embed/-bgessootas " title="YouTube video player " frameborder="0 " allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;
                    web-share " allowfullscreen></iframe>
                    <div class="card-body ">
                        <h5 class="card-title ">Adição e Subtração </h5>
                        <p class="card-text ">Ajude seu filho a aprender matemática de uma maneira divertida</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 ">
                <div class="card h-100, w-100 ">
                    <iframe width="100% " height="300 " src="https://www.youtube.com/embed/dob2tk_ipec " title="YouTube video player " frameborder="0 " allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;
                    web-share " allowfullscreen></iframe>
                    <div class="card-body ">
                        <h5 class="card-title ">Sistema Solar</h5>
                        <p class="card-text ">Aprenda sobre sistema solar de forma facil e divertida.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 ">
                <div class="card h-100, w-100 ">
                    <iframe width="100% " height="300 " src="https://www.youtube.com/embed/PuaKlqx3pPo " title="YouTube video player " frameborder="0 " allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;
                    web-share " allowfullscreen></iframe>
                    <div class="card-body ">
                        <h5 class="card-title ">Ciência Divertida </h5>
                        <p class="card-text ">5 experiências para fazer em casa com seus filhos </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 ">
                <div class="card h-100, w-100 ">
                    <iframe width="100% " height="300" src="https://www.youtube.com/embed/0PZ8wgnMGCY " title="YouTube video player " frameborder="0 " allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;
                    web-share " allowfullscreen></iframe>
                    <div class="card-body brincadeiras ">
                        <h5 class="card-title brincadeiras ">Brincadeiras Divertidas </h5>
                        <p class="card-text ">Brincadeiras para crianças de 6 a 9 anos </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 ">
                <div class="card h-100, w-100 ">
                    <iframe width="100% " height="275 " src="https://www.youtube.com/embed/jv7-2Y5LTQw " title="YouTube video player " frameborder="0 " allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;
                    web-share " allowfullscreen></iframe>
                    <div class="card-body ">
                        <h5 class="card-title ">Aprendendo as Silabas</h5>
                        <p class="card-text ">vídeo super divertido da familia sílabica completa para auxiliar seu filho na alfabetização e na aprendizagem de leitura.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


