@{
    ViewData["Title"] = "Home Page";
}

<section class="BemVindo bg-white">
    <div class="container" style="margin-top:8%;">
        <div class="row align-items-center">
            <div class="col-md-6 text-center">
                <h2 class="fw-bolder opacity-50";">Bem Vindo ao</h2>
                <p class=" display-6 fw-bolder opacity-75 text-center" style="color: #367cbf;">APRENDER BRINCANDO</p>
                <a href="" class="btn btn-outline-dark">Saiba Mais</a>
            </div>
            <div class="col-md-6">
                <img src="~/img/meninoLivro - Copia.jpg" class="img-fluid"> <!-- img-fluid da espaçamento lateral -->
                <h3 class="fs-4 opacity-75 me-2 text-center">Porque aprender não é uma tarefa,</h3>
                <p class=" display-5 fw-bolder opacity-75 text-center" style="color: #d22927;">É UMA AVENTURA!</p>
            </div>
        </div>
    </div>
</section>

<section class="destaques p-2 bg-success bg-opacity-10">
    <div class="container p-4">
        <div class="row">
            <div class="col-md-12 text-center mt-5">
                <h3 class="fs-6">DESTAQUES</h3>
                <h1 class="fw-bolder">Principais Cursos</h1>
            </div>

        </div>

        <div class="row justify-content-center p-4">

            <div class="card col-md-4 p-3 m-1" style="width: 21rem;">
                <img src="~/img/alfabetização.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Software</h5>
                    <p class="card-text">Macetes do Photoshop</p>
                    <a href="#" class="btn btn-outline-success">Acessar</a>
                </div>
            </div>

            <div class="card col-md-4 p-3 m-1" style="width: 21rem;">
                <img src="~/img/coordenaçãoMotora.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Software</h5>
                    <p class="card-text">Macetes do Photoshop</p>
                    <a href="#" class="btn btn-outline-success">Acessar</a>
                </div>
            </div>
         </div>
     </div>
</section>

<section class="EnsinoFundamental bg-white">
    <div class="container-fluid">
        <div class="row p-4">
            <div class="col-md-12 mt-5">
                <h1 class="fw-bolder text-center opacity-75">ENSINO FUNDAMENTAL</h1>
            </div>
        </div>

        <div class="row justify-content-center p-4">
            <div class="col-md-3 py-3 m-1" style="width: 16rem;">
                <img src="~/img/matematica.png" class="card-img-top" alt="...">
                <p class="fs-3 fw-bolder opacity-75 px-4">MATEMÁTICA</p>
            </div>
            <div class="col-md-3  py-3 m-1" style="width: 16rem;">
                <img src="~/img/quimica.png" class="card-img-top" alt="...">
                <p class="fs-3 fw-bolder opacity-75 px-5 mx-2">QUÍMICA</p>
            </div>
            <div class="col-md-3  py-3 m-1" style="width: 16rem;">
                <img src="~/img/ciencia.png" class="card-img-top" alt="...">
                <p class="fs-3 fw-bolder opacity-75 px-5 mx-3">CIÊNCIA</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 text-center mt-2 mb-5">
                <button class="btn btn-outline-dark">Conhecer agora</button>
            </div>
        </div>
    </div>
</section>

<section class="Mural" style="background-color:#60ccc7">
    <div class="container mb-4">
        <div class="row p-4">
            <div class="col-md-12 mt-4">
                <h1 class="fw-bolder text-center opacity-75">MURAL</h1>
            </div>
        </div>

        <div class="row justify-content-center p-2">
            <div class="col-md-3 card py-3 m-1" style="width: 25rem;">
                <img src="~/img/fotoMural1.png" class="card-img-top" alt="...">
            </div>
            <div class="col-md-3 card py-3 m-1" style="width: 25rem;">
                <img src="~/img/fotoMural2.png" class="card-img-top" alt="...">
            </div>
            <div class="col-md-3 card py-3 m-1" style="width: 25rem;">
                <img src="~/img/fotoMural3.png" class="card-img-top" alt="...">
            </div>
        </div>
    </div>
</section>
