@{
    ViewData["Title"] = "Home Page";
}

<section>
    <div class="container-fluid" style="position: relative; text-align: center; margin-top: 200px;">
        <div>
            <img src="~/img/lousa.png" style="width: 70%; height: 70%;">
        </div>
        <div class="luckiest" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); padding-bottom: 22%;">
            <h1 style="color: #002147; font-size: 55px;"> ao <span style="color: #06A5DC;">APRENDER BRINCANDO</span></h1>
            <p style="color: #002147; font-size: 35px;">Porque aprender não é uma tarefa,</p>
            <p style="color: #d22927; font-size: 55px;">É UMA AVENTURA!</p>
        </div>
    </div>
</section>



<section class="bg-opacity-50" style="background-color:#ECF5FF">

    <div class="container mt-4 ">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 class="luckiest display-5" style="color: #002147;">Educação Infantil</h1>
            </div>
        </div>

        <div class="container pt-5">
            <div class="row align-items-center">
                <div class="col-md-6 text-center fs-5 fw-bolder">
                    <h1 class="luckiest" style="color: #002147;">ALFABETIZAÇÃO</h1>
                    <p>A alfabetização infantil é fundamental, pois estabelece as bases para leitura, escrita e habilidades cognitivas, fomenta a comunicação e o pensamento crítico, prepara para o sucesso na educação e na vida adulta, promove inclusão social, acesso à informação e autonomia, sendo essencial para o desenvolvimento saudável e educacional das crianças.</p>
                    <a asp-area="" asp-controller="Home" asp-action="Infantil" class="btn btn-outline-dark">Saiba Mais</a>
                </div>
                <div class="col-md-6" style="width:500px; margin-left:120px">
                    <img src="~/img/alfabetização.jpg" class="img-fluid">
                </div>
            </div>
        </div>
    </div>

    <div class="row align-items-center">
        <div class="col-md-6 p-5" style="width:550px; margin-left:120px">
            <img src="~/img/coordenaçãoMotora.jpg" class="img-fluid">
        </div>
        <div class="col-md-6 text-center fs-5 fw-bolder">
            <h1 class="luckiest" style="color: #002147;">COORDENAÇÃO MOTORA</h1>
            <p>A coordenação motora infantil refere-se à habilidade das crianças de controlar seus movimentos. O desenvolvimento da coordenação motora é crucial para atividades diárias, mobilidade e habilidades motoras, influenciando o crescimento e a aprendizagem das crianças.</p>
            <a asp-area="" asp-controller="Home" asp-action="Infantil" class="btn btn-outline-dark">Saiba Mais</a>
        </div>
    </div>

</section>


<section class="destaques bg-white bg-opacity-10">
    <div class="container p-4">
        <div class="row">
            <div class="col-md-12 text-center mt-5">
                <h1 class="luckiest display-5 mb-5" style="color: #002147;">Ensino Fundamental</h1>
            </div>

        </div>

        <div class="row justify-content-center p-3">
            <div class="card col-md-4 p-3 m-1" style="width: 21rem;">
                <img src="~/img/meninoLeitura.png" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title  luckiest">PORTUGUÊS</h5>
                    <p class="card-text fw-bolder">A língua portuguesa é essencial para uma comunicação eficaz, desenvolvendo habilidades fundamentais de leitura, escrita e expressão oral ...</p>
                    <a asp-area="" asp-controller="Home" asp-action="Fundamental" class="btn btn-outline-dark">Saiba Mais</a>
                </div>
            </div>

            <div class="card col-md-4 p-3 m-1" style="width: 21rem;">
                <img src="~/img/matematica.png" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title luckiest">MATEMÁTICA</h5>
                    <p class="card-text fw-bolder">A matemática é fundamental para o desenvolvimento do raciocínio lógico, a compreensão de conceitos financeiros e melhora a capacidade de tomar decisões ... </p>
                    <a asp-area="" asp-controller="Home" asp-action="Fundamental" class="btn btn-outline-dark">Saiba Mais</a>
                </div>
            </div>

            <div class="card col-md-4 p-3 m-1" style="width: 21rem;">
                <img src="~/img/quimica.png" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title luckiest">CIÊNCIA</h5>
                    <p class="card-text fw-bolder">A ciência é vital para a compreensão do mundo ao redor, incentivando o pensamento crítico, a curiosidade e a resolução de problemas ...</p>
                    <a asp-area="" asp-controller="Home" asp-action="Fundamental" class="btn btn-outline-dark">Saiba Mais</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="Mural" style="background-color:#ECF5FF">
    <div class="container p-5">
        <div class="row">
            <div class="col-md-12">
                <h1 class="luckiest display-5 text-center" style="color: #002147;">MURAL</h1>
            </div>
        </div>

        <div class="row justify-content-center p-3">
            <div class="col-md-3 card py-3 m-1" style="width: 25rem;">
                <img src="~/img/fotoMural1.png" class="card-img-top" alt="...">
            </div>
            <div class="col-md-3 card py-3 m-1" style="width: 25rem;">
                <img src="~/img/fotoMural2.png" class="card-img-top" alt="...">
            </div>
            <div class="col-md-3 card py-3 m-1" style="width: 25rem;">
                <img src="~/img/fotoMural3.png" class="card-img-top" alt="...">
            </div>
        </div>
    </div>
</section>
