@{
    ViewData["Title"] = "EducInfantil";
}


<div id="categoria-area">
    <div class="container conteudo mb-5">
        <div class="row">
            <div class="col-12 d-flex justify-content-center align-items-center" style="margin-top: 100px;">
                <img class="fundamental" src="~/img/educacaoinfantil.png" alt="Educação Infantil" style="height:50%">
            </div>
            <div class="col-md-4">
                <div class="card h-100, w-100">
                    <iframe width="100%" height="300" src="https://www.youtube.com/embed/EtZ7xoZCC-Q" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    <div class="card-body">
                        <h5 class="card-title">Coordenação Motora</h5>
                        <p class="card-text">Atividade que auxilia a  estimulação do movimento de pinça</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <iframe width="100%" height="300" src="https://www.youtube.com/embed/bPQzOGP3HTw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    <div class="card-body">
                        <h5 class="card-title">Coordenação Motora</h5>
                        <p class="card-text">Brinquedo que estimula o movimento das mãos</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 ">
                <div class="card h-100, w-100 ">
                    <iframe width="100%" height="300" src="https://www.youtube.com/embed/ZaZuNbsIZcQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    <div class="card-body">
                        <h5 class="card-title">Coordenação Motora</h5>
                        <p class="card-text">Atividade que estimula os sentidos do tato e da visão</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 ">
                <div class="card h-100, w-100 ">
                    <iframe width="100%" height="300" src="https://www.youtube.com/embed/NI1xeg7B1S0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    <div class="card-body">
                        <h5 class="card-title">Alfabetização</h5>
                        <p class="card-text">Atividade para combinar as letras dos palitinhos com as do no recipiente </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 ">
                <div class="card h-100, w-100 ">
                    <iframe width="100%" height="300" src="https://www.youtube.com/embed/YuQawfrk1IA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>                            <div class="card-body">
                        <h5 class="card-title">Alfabetização</h5>
                        <p class="card-text">Atividade para apresentar e proppor o reconhecimento das letras</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 ">
                <div class="card h-100, w-100 ">
                    <iframe width="100%" height="300" src="https://www.youtube.com/embed/NkHWXehg1B4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>                        <div class="card-body">
                        <h5 class="card-title">Alfabetização</h5>
                        <p class="card-text">Atividade para relacionar números e quantidades</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>