@{
    ViewData["Title"] = "SobreNos Page";
}


<div class="container-fluid" style="margin-bottom:200px; margin-top:150px;">
    <div class="row align-items-center">
        <div class="col-md-4 text-center"></div>
        <div class="col-md-4 text-center" style="font-size:16px">
    <h1 class=" text-center mb-5">Bem-vindo ao nosso site</h1>

    <p class="text-center">Voltado para auxiliar pais e professores na educação de seus filhos e alunos.</p>

    <p>Nosso objetivo é criar um ambiente educacional divertido e estimulante, onde as crianças possam aprender de forma significativa, desenvolver habilidades essenciais e despertar a curiosidade pelo conhecimento. Sabemos que os primeiros anos de vida e a educação fundamental são fundamentais para o crescimento e sucesso futuro de cada criança.</p>

    <p class="text-center">Junte-se a nós nessa emocionante aventura de aprendizado e crescimento! Porque aprender não é uma tarefa, é uma aventura!!</p>
</div>
            <div class="col-md-4 text-center"></div>
</div>
</div>
