@{
    ViewData["Title"] = "SobreNos Page";
}


<div id="imgSobreNos" class="container-fluid">
    <div class="row align-items-center mt-5 py-5">
        <div class="col-md-4 text-center"></div>
        <div class="col-md-4 text-center" style="font-size:16px">
            <h1 class="text-center luckiest" style="color: #002147"> AO SITE </h1>
            <p class="fs-5 fw-bolder text-center"> Dedicamo-nos a apoiar pais e educadores na formação de seus filhos e alunos.</p>
            <p class="fs-5 fw-bolder text-center"> Nosso propósito é criar um ambiente educativo cativante e estimulante, no qual as crianças possam absorver conhecimento de maneira significativa, cultivar habilidades essenciais e despertar uma sede genuína pelo aprendizado. Reconhecemos que os primeiros anos de vida e a educação fundamental são cruciais para o desenvolvimento e sucesso futuro de cada criança.</p>
            <p class="fs-5 fw-bolder text-center"> Convidamos você a embarcar conosco nessa emocionante jornada de descobertas e crescimento! Porque, para nós, aprender não é uma simples tarefa, mas sim uma empolgante aventura!</p>
        </div>
    </div>
</div>


