@model AprenderBrincando.Models.Email

@{
    ViewBag.Heading = "Bem vindo: " + Model.Nome;
    ViewBag.Preview = "Obrigado por se registrar no nosso sistema";
}

<p>
    Bem vindo @Model.Nome!
</p>
<p>
    Estamos felizes que agora você faz parte da nossa comunidade. Por favor, clique no botão abaixo para confirmar seu registro.
</p>
<p>
    Ou copie e cole no navegador o link abaixo:
</p>


