@model IEnumerable<AprenderBrincando.Models.Imagem>

@{
    ViewData["Title"] = "Mural Page";
}

<!-- LISTAGEM DE FOTOS-->

<div class="lista text-center luckiest">
    <h1 class="luckiest py-5">Mural</h1>
    <p>
</div>


<head>
<link rel="stylesheet" href="~/css/galery.css" />
<link rel="stylesheet" href="~/lib/lightbox/css/jquery.lbt-lightbox.min.css" />
</head>


<div id="gallery">

    @foreach (var item in Model)
    {
        <div class="box">
            <img src="@($"data:{item.ContentType};base64,{item.Arquivo}")" />
        </div>
    }

</div>

<div style="height: 700px;"></div>

<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
<script src="~/lib/lightbox/js/jquery.lbt-lightbox.js"></script>

<script>
  $('#gallery').lbtLightBox({
  qtd_pagination: 6,
  pagination_width: "160px",
  pagination_height: "160px",
  custom_children: ".box img",
  captions: true,
  captions_selector: ".caption p",
});
</script>



