@model AprenderBrincando.Models.Video

@{
    ViewData["Title"] = "Create";
}

<div class="fundoformulario2">
    <div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh;">
        <div class="col-md-4">
            <form asp-action="Create" class="border p-5">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                <h3>Cadastrar Vídeo</h3>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label asp-for="Link" class="control-label"></label>
                        <input asp-for="Link" class="form-control" />
                        <span asp-validation-for="Link" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label asp-for="Descricao" class="control-label"></label>
                        <input asp-for="Descricao" class="form-control" />
                        <span asp-validation-for="Descricao" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label asp-for="Categoria" class="control-label"></label>
                        <select asp-for="Categoria" class="form-control" id="categoria" onchange="categoria_onchange();">
                            <option value="1">Educação Infantil</option>
                            <option value="2">Ensino Fundamental</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label asp-for="Subcategoria" class="control-label"></label>
                        <select asp-for="Subcategoria" class="form-control" id="subcategoria"></select><br />
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <input type="submit" value="Salvar" class="btn btn-primary" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
