@model IEnumerable<AprenderBrincando.Models.Video>

@{
    ViewData["Title"] = "EducInfantil";
}

<div id="categoria-area">
    <div class="container conteudo mb-5">
        <div class="row">
            <div class="col-12 d-flex justify-content-center align-items-center" style="margin-top: 130px;">
                <h2 class=" display-3 luckiest mb-4" style="color: #002147;">EDUCAÇÃO INFANTIL</h2>
                <!-- <img class="fundamental" src="~/img/educacaoinfantil.png" alt="Educação Infantil" style="height:50%">-->
            </div>
        </div>

        <ul class="nav nav-tabs custom-tab" id="myTabs">
            <li class="nav-item">
                <a class="nav-link active" id="tab1-tab" data-bs-toggle="tab" href="#tab1">Alfabetização</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="tab2-tab" data-bs-toggle="tab" href="#tab2">Coordenação Motora</a>
            </li>
        </ul>

        <div class="tab-content mt-2">

            @* Aba 1 - Alfabetização *@
            <div class="tab-pane fade show active" id="tab1">
                <div class="row">
                    @foreach (var item in Model)
                    {
                        @if(item.Subcategoria == "1"){
                            <div class="col-md-4 ">
                                <div class="card h-100, w-100 ">
                                    <iframe width="100%" height="300" src="@item.Link" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>                            <div class="card-body">
                                        <h5 class="card-title">Alfabetização</h5>
                                        <p class="card-text">@item.Descricao</p>
                                    </div>
                                </div>
                            </div>
                        }
                    }

                </div>
            </div>

            @* Aba 2 - Coordenação Motora *@
            <div class="tab-pane fade" id="tab2">
                <div class="row">
                    @foreach (var item in Model)
                    {
                        @if(item.Subcategoria == "2"){
                            <div class="col-md-4 ">
                                <div class="card h-100, w-100 ">
                                    <iframe width="100%" height="300" src="@item.Link" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>                            <div class="card-body">
                                        <h5 class="card-title">Coordenação Motora</h5>
                                        <p class="card-text">@item.Descricao</p>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>